<section class="banner_section banner_style2 mb-109">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="single_banner position-relative">
                    <img src="~/customer/assets/img/bg/bg3.jpg" alt="">
                    <div class="banner_text position-absolute">
                        <h3>Minimalist <br> sneaker</h3>
                        <p>Stretch, fresh-cool help you alway <br> comfortable</p>
                        <a class="btn btn-primary" href="shop.html">Shop Now</a>
                    </div>
                    <div class="banner_tag">
                        <span>new arrivals <br> women</span>
                    </div>
                </figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="single_banner position-relative">
                    <img src="~/customer/assets/img/bg/bg4.jpg" alt="">
                    <div class="banner_text position-absolute text__style2">
                        <h3><span>50%</span> OFF <br> for Autumn</h3>
                        <p>Stretch, fresh-cool help you alway <br> comfortable</p>
                        <a class="btn btn-primary" href="shop.html">Shop Now</a>
                    </div>
                    <div class="banner_tag">
                        <span>mega sale</span>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>