<div class="tab-pane fade" id="tags" role="tabpanel">
    <div class="product_info_content">
        <ul>
            <li>Length: 74cm</li>
            <li>Regular fit</li>
            <li>Notched lapels</li>
            <li>Twin button front fastening</li>
            <li>Front patch pockets; chest pocket</li>
            <li> Internal pockets</li>
        </ul>
    </div>
</div>