<div class="tab-pane fade" id="video" role="tabpanel">
    <div class="product_tab_vidio text-center">
        <iframe width="729" height="410" src="https://www.youtube.com/embed/BUWzX78Ye_8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>