<section class="newsletter_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="newsletter_inner d-flex justify-content-between align-items-center">
                    <div class="newsletter_text">
                        <h3>keep connected</h3>
                        <p>Get updates by subscribe our weekly newsletter</p>
                    </div>
                    <div class="newsletter_subscribe">
                        <form id="mc-form">
                            <input class="border-0" id="mc-email" type="email" autocomplete="off"
                                   placeholder="Enter your email address">
                            <i class="icon-envelope-open icons"></i>
                            <button class="border-0" id="mc-submit">Subscribe</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>