
@{
    ViewData["Title"] = " ";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/customer/assets/css/customstyle.css">
<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_other" style="margin-top:120px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="#">pages</a></li>
                    </ul>
                    <h3>login</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--login page section-->
<div class="checkout_section" id="accordion">
    <div class="container">

        <div class="checkout_form">
            <div class="row">
                <div class="col-md-6" style="margin-left:auto ; margin-right:auto ;">
                    <form method="post">

                        <div class="checkout_form_input">
                            <label> Email Address   <span>*</span></label>
                            <input type="text" name="UserName">
                            
                        </div>

                        <div class="checkout_form_input">
                            <label> Password   <span>*</span></label>
                            <div class="input-container">
                            <input type="password" id="passwordbox" name="Password"/>
                            
                            <a id="showpass" onclick="passfunction()" class="margin-for-button"><i class="fa fa-light fa-eye"></i></a>
                            </div>
                        </div>

                        <div>
                            <input id="rememberme" name="checkbox" type="checkbox" style="margin-bottom: 15px;" /><label style="opacity:0.3;"> Remember me </label>
                        </div>

                        <div class="checkout_form_input">
                            <div class="shopping_continue_btn">
                                <button class="btn btn-primary btn-block">Login</button>
                            </div>
                        </div>
              
                    </form>
                </div>

            </div>
        </div>

        <div class="row" style="margin-top:50px;">
            <div class="col-md-6" style="margin-left:auto ; margin-right:auto ;">
                <h5>
                    <div style="opacity:0.3; float: left;">Not yet a customer?</div>
                    <a href="/Customer/Register/Index/" style="color:#5b6c5a; margin-left:10px;"> Click here to register.</a>
                </h5>

                <h5 style="margin-top:20px;">
                    <div style="opacity:0.3; float: left;">If forgot your password.</div>
                    <a href="#" style="color:#5b6c5a; margin-left:10px;"> Click here for recovery mail.</a>
                </h5>
            </div>
        </div>

    </div>
</div>

<script>
    function passfunction() {
        var x = document.getElementById("passwordbox");
        var y = document.getElementById("showpass");

        if (x.type === "password") {
            x.type = "text";
            y.innerHTML = "<i class='fa fa-light fa-eye-slash'></i>";
        } else {
            x.type = "password";
            y.innerHTML = "<i class='fa fa-light fa-eye'></i>";
        }
    }
</script>
<!--login page section end-->